html {
	background-color: black;
}

body {
	background-color: #06112D;
	margin: 0 auto 0 auto;
}

#nav {
	border-bottom: 1px solid teal;
	margin-left: auto;
	margin-right: auto;
}



ul{
	margin-top: 5px;

}

li {
	margin-left: 2px;
}
li:hover {
	margin-left: 2px;
}



#me {
	background-color: #394444;
	border-color: #1a1a1a;
	padding: 20px;
	color: white;
	text-align: left;
	font-family: "Lucida Console", Times, serif;

}

h1{
	color: white;
}


h2{
	color: white;
}

h3{
	color: white;

}


.container-fluid .jumbotron  {
	position: relative;
	 width: 100%;
	 min-height: 500px;
	 text-align: center;
	 color: #fff;
	 background-image: url(http://s1.funon.cc/img/orig/201406/10/5396be86c329c.jpg);
	 background-position: center;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 background-size: cover;
	 -o-background-size: cover;
	 margin-top: 53px;
	 margin-bottom: 0;
	border-bottom: 1px solid teal;
	border-radius: 0;
}



#divider {
	height: 100px;
	background-color: #111;
		border-top: 1px solid teal;

}

#divider1 {
	height: 100px;
	background-color: #111;

}

#divider2 {
	height: 100px;
	background-color: #111;
	border-top: 4px solid teal;

}


#rowAbout {
	background-color: #1a1a1a;
	height: 1000px;


}

#skillFrame {
	background-color: #1a1a1a;

	height: 750px;
}

#listContain {
	background-color: #333;
}

#rowSkillz {
	background-image: url('http://www.wallpaperup.com/uploads/wallpapers/2014/09/26/456811/6e09b6303b949bc0231ebbc51d7988f3.jpg');
	background-color: #0d0d0d;
	border-color: #536362;
	height: 540px;
	border-radius: 4px;
}

#skillzTitle {
	background-color: #1a1a1a;
	margin-top: 10px;
	text-align: center;
}

#services {
	background-color: #222;
	text-align: center;
	height: 40px; 
}

#services h3 {
text-align: center;
margin: 0px 0px 0px 0px;
top: 6.5px;
position: relative;
}

#aboutTitle {
	background-color: #111;
	text-align: center;

}

#skillzContain {
	height: 540px;
	background-color: rgba(13,13,13,0.9);
	margin-bottom: 40px;
	border-color: black;
	padding: 0;

}


h1 {
	text-align: center;
	margin-bottom: 20px;
	border-radius: 4px;
}


#rowRecent {
  background-color: #0d0d0d;
  height: 400px ;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: #536362;
	border-radius: 0px;
	margin-top: 1px;
	border-top: 6px solid #004080;
}



#recentContain {
	height:300px;
	background-color:#3333ff;
	margin-top: 40px;
	font-size: 100px;
	color: white;
	text-align: center;

}


#skillzContain .row{
	height: 40px;
	margin-bottom: 25px;
}

#skillList  {
	margin: 0px;
}

#skillList li {
	background-color:#292A2D;
	border-color: black;
	color: white;
	height: 84px;
}


