html {
	background-color: #111;
	
}

body {
	background-color: #151414;
	margin: 0 auto 0 auto;
	max-width: 1680px;
}

#header {
	background-color: #111;
}

#nav {
	border-bottom: 1px solid teal;
	margin-left: auto;
	margin-right: auto;
		max-width: 1680px;
}

p {
	color: #C3C3C3;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	border-radius: 4px;
	color: white;
	text-shadow: 4px 4px #222;
}


h2{
	color: white;
}

ul{
	margin-top: 5px;

}


#divider {
	background-color: #111;


}

.container-fluid .jumbotron  {
	position: relative;
	 width: 100%;
	 min-height: 500px;
	 max-width: 100%
	 text-align: center;
	 color: #fff;
	 background-image: url(http://s1.funon.cc/img/orig/201406/10/5396be86c329c.jpg);
	 background-position: center;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 background-size: cover;
	 -o-background-size: cover;
	 margin-top: 53px;
	 margin-bottom: 0;
	border-radius: 0;
	border-bottom: 1px solid teal;
}

#title {
	margin-bottom: 40px;
}

#rowAbout {
	background: -webkit-linear-gradient(#171F21, #171F21,#171F21, #171A21);
	padding-bottom: 60px;


}


#rowAbout h3 {
	color: white;
	margin-top: 5px;
}


#pictureContainer {
	height: 320px;
	background-color: #111;
	margin-top: 55px;
	border-radius: 1%;
	text-align: center;
	background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkQAAAAJGU0OGNhMjg2LWZhYTItNDMxYy1iZmY0LTI0ZTFkZTRiNTE4YQ.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}



#myPicture {
	border-radius: 50%;

}


#descriptionContainer {
	background-color: #151414;
	font-size: 1.3em;
	color: white;
	text-align: left;
	font-family: "Calibri", Times, serif;
	margin-top: 70px;
	border-radius: 2px;
	padding: 10px;
}


#sMedContainer {
	background-color: black;
	font-size: 20px;
	color: white;
	font-family: "Calibri", Times, serif;
}

#quote {
	font-size: 3.5em;
	margin-top: 50px;
	margin-bottom: 50px;
}

#sectionChange {
	color: white;
	height: 70px;
	background-color: #1a1a1a;

}

#projects {
height: 800px;
background-color: #171A21;
}





















	










